version: '3.8'

services:
  # Master Node
  spark-master:
    build: 
      context: .
      dockerfile: docker/Dockerfile 
    image: spark-base
    container_name: spark-master
    hostname: spark-master
    ports:
      - "8080:8080"      # UI Master
      - "7077:7077"      # Spark Master Port
      - "4040:4040"      # Driver UI
    volumes:
      - ./data:/opt/workspace/data
      - ./apps:/opt/workspace/apps
      - ./logs:/opt/workspace/logs
      - ./src:/opt/workspace/src
      - ./results:/opt/workspace/results
      - ./models:/opt/workspace/models

    environment:
      SPARK_WORKLOAD: master
      SPARK_MASTER_HOST: spark-master
      SPARK_MASTER_PORT: 7077
      SPARK_MASTER_WEBUI_PORT: 8080
      SPARK_MASTER_LOG: /opt/workspace/logs/master.log
    networks:
      - spark-network

  # Worker Node 1
  spark-worker-1:
    image: spark-base
    container_name: spark-worker-1
    hostname: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "8081:8081"      # UI Worker 1
      - "7078:7078"
    volumes:
      - ./data:/opt/workspace/data
      - ./apps:/opt/workspace/apps
      - ./logs:/opt/workspace/logs
      - ./results:/opt/workspace/results
      - ./models:/opt/workspace/models
    environment:
      SPARK_WORKLOAD: worker
      SPARK_MASTER: spark://spark-master:7077
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2g
      SPARK_WORKER_WEBUI_PORT: 8081
      SPARK_WORKER_LOG: /opt/workspace/logs/worker1.log
    networks:
      - spark-network

  # Worker Node 2
  spark-worker-2:
    image: spark-base
    container_name: spark-worker-2
    hostname: spark-worker-2
    depends_on:
      - spark-master
    ports:
      - "8082:8082"      # UI Worker 2
      - "7079:7079"
    volumes:
      - ./data:/opt/workspace/data
      - ./apps:/opt/workspace/apps
      - ./logs:/opt/workspace/logs
      - ./results:/opt/workspace/results
      - ./models:/opt/workspace/models
    environment:
      SPARK_WORKLOAD: worker
      SPARK_MASTER: spark://spark-master:7077
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2g
      SPARK_WORKER_WEBUI_PORT: 8082
      SPARK_WORKER_LOG: /opt/workspace/logs/worker2.log
    networks:
      - spark-network

  # Worker Node 3
  spark-worker-3:
    image: spark-base
    container_name: spark-worker-3
    hostname: spark-worker-3
    depends_on:
      - spark-master
    ports:
      - "8083:8083"
      - "7080:7080"
    volumes:
      - ./data:/opt/workspace/data
      - ./apps:/opt/workspace/apps
      - ./logs:/opt/workspace/logs
      - ./results:/opt/workspace/results
      - ./models:/opt/workspace/models
    environment:
      SPARK_WORKLOAD: worker
      SPARK_MASTER: spark://spark-master:7077
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2g
      SPARK_WORKER_WEBUI_PORT: 8083
      SPARK_WORKER_LOG: /opt/workspace/logs/worker3.log
    networks:
      - spark-network

networks:
  spark-network:
    driver: bridge
